.nav-text{
    margin: 0 !important;
}
.nav-text li{
    list-style-type: none;
}
.nav-text li a{
    text-decoration: none !important;
    color: #504C4C;
}
.input-nav-bar{
    border:none;
    border-bottom: 1px solid #707070;
    width: 15vw;
    
}
/* input::placeholder{
    text-align: right;
} */
.home_logo{
    height: 4vw;
}
.bg_navbar{
    width: 90%;
}
.search_logo{
    position: relative;
    left: 80%;
    top: 15%;
    height: 1vw;
}
#sign_in_text{
    border-right: 1px solid #707070;
}
.image-profile-login{
    height: 2vw;
    border-radius: 25px;
}
.color-second-hover:hover{
    color: #435c1c;
}