.search_input {
    width: 1.2vw;
}

.bar_select{
    padding: 0.5vw 0vw 1vw 0vw;
    border-bottom: .1vw solid #DFDFDF;
}
.overflow-list-promotion{
    height: 40vw;
    overflow-y: scroll;
    overflow-x: hidden;
}