.order_detail {
    margin: 1vw 0 2vw 0;
}

.customer_detail,
.product_detail,
.order_product_detail,
.status_detail {
    background-color: white;
    box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.2);
    margin: 1vw 0.5vw 0 0.5vw;
    padding: 1vw 3vw;
}

.radio_type,
.radio_cenceled {
    width: 1.5vw;
    height: 1.5vw;
    margin: 1vw;
}

.cenceled {
    color: #FF0000;
}
