.cart_header {
    font-size: 2vw;
    font-weight: bold;
    color: #504C4C;
    margin: 0;
    padding: 1.5vw 0 0.5vw 0;
}

.form_info {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 6px 0 rgb(0, 0, 0, 0.16);
    padding: 2vw 3vw 2vw 3vw;
}

.dropdown_address {
    width: 12.5vw;
    height: 2.5vw;
    background-image: linear-gradient( #FFFFFF, #d8d8d8);
    border: #DEDEDE 1px solid;
    border-radius: 4px;
    margin: 0.5vw 0 0 0;
}

.btn_accountInfo {
    height: 3vw;
    color: white;
    background-color: #667B45;
    box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.16);
    font-weight: bold;
    border-radius: 0;
    font-size: 1vw;
}

