.order_dashboard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 1.5vw 4vw;
    padding: 2vw;
}

.data_order {
    background-image: linear-gradient(#FBFBFB, #F2F2F2);
    height: 7vh;
    border-radius: 6px;
}

.select_order{
    height: 4vh;
    width: 5vw;
}

.img_del {
    width: 2.5vw;
}

.btn_page {
    padding: 0.5vw 1vw;
    border: #DFDFDF 1px solid;
    margin: 0.5vw;
    border-radius: 10px;
}