.order_dashboard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 1.5vw 4vw;
    padding: 2vw;
}

.data_order {
    background-image: linear-gradient(#FBFBFB, #F2F2F2);
    height: 7vh;
    border-radius: 6px;
}

.select_order{
    height: 4vh;
    width: 5vw;
}

.img_del {
    width: 2.5vw;
}

.btn_page {
    padding: 0.5vw 1vw;
    border: #DFDFDF 1px solid;
    margin: 0.5vw;
    border-radius: 10px;
}

.select_display {
    background: rgb(249,249,249);
    background: linear-gradient(204deg, rgba(249,249,249,1) 82%, rgba(219,219,219,1) 100%);
    border: 0.1vw solid #E3E3E3;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 1vw;
    margin-left: 1vw;
    padding: 0 1.5vw;
}