.time_order {
    color: #888888;
    font-size: smaller;
    justify-content: flex-end;
}

.frame_orders {
    box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.2);
}

.image_orders {
    width: 5vw;
    border: #DAE1D0 1px solid;
    padding: 0.5vw 1vw;
}

.text_orders {
    color: #527022;
    font-size: small;
}

.price_orders {
    font-size: x-large;
}