.size-admin-nav{
    height: 100vh;
    background: rgb(46,59,25);
    background: linear-gradient(180deg, rgba(46,59,25,1) 0%, rgba(78,93,55,1) 100%);
}
.size-admin-nav .active{
    background: #FFFFFF;
    opacity: 30%;
}