.btn-add-promotion-on-sale{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%);
    border: 0;
    border-radius: 50px;
    box-shadow: 0 6px 6px -6px #777;
    padding: 0.3vw 1.5vw;
}.btn-add-promotion-on-sale img{
    height: 1.2vw;
    margin-left: 0.5vw;
}
.top-list-add-promotion{
    border-bottom: .1vw solid #707070;
}
.btn-promotion-apply{
    background: rgb(118,158,55);
    background: linear-gradient(180deg, rgba(118,158,55,1) 0%, rgba(82,130,5,1) 100%);
    padding: .3vw 1.5vw;
    border-radius: 3px;
}
.btn-promotion-done{
    background: rgb(118,158,55);
    background: linear-gradient(180deg, rgba(118,158,55,1) 0%, rgba(82,130,5,1) 100%);
    padding: .3vw 5vw;
    border-radius: 3px;
}
.input-admin-promotion-sale{
    color: #696969;
    padding: 0vw 0.3vw;
    border-radius: 3px;
    border: .1vw solid #7EAC35;
}
.image-calender{
    left: 90%;
    top: 15%;
    height: 1vw;
}
.box-list-promotion-onsale{
    border: .1vw solid #E3E3E3;
    border-radius: 3px;
    padding: 0vw .7vw;
}